body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./images/background.jpg");
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.boardContainer {
  width: 600px;
  height: 428px;
  margin: 0 auto;
}

.hecklers {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./images/hecklers.jpg");
  background-size: cover;
}

.rickText {
  position: absolute;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  top: 10px;
  left: 255px;
}

.moves {
  height: 70px;
  width: 70px;
  position: absolute;
  background-color: lightskyblue;
  font-size: 60px;
  font-family: sans-serif;
  text-align: center;
  top: 220px;
  left: 520px;
}

.overlay {
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: darkslategray;
  margin:  0 auto;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.win {
  background-image: url("./images/high-rick.jpg");
}

.lose {
  background-image: url("./images/angry-rick.jpg");
}
